<tr id="device_<%= device.id %>">
  <td><%= device.id %></td>
  <td><%= device.device_type %></td>
  <td><%= device.manufacturer %></td>
  <td><%= device.model %></td>
  <td><%= device.max_flow %></td>
  <td><%= device.max_pressure %></td>
  <td class="text-center" style="width: 20%">
    <%= link_to 'Show', device, class: "btn btn-success" %>
    <%= link_to 'Edit', edit_device_path(device), data: { turbo_frame: 'edit_device' }, class: "btn btn-info" %>
    <%= link_to 'Destroy', device, data: { turbo_method: :delete }, class: "btn btn-danger" %>
  </td>
</tr>
