<div class="card">
  <div class="card-header text-center">
    <h3>Device Info</h3>
  </div>
  <div class="card-body">
    <p class="card-text">ID: <%= @device.id %></p>
    <p class="card-text">Model: <%= @device.model %></p>
    <p class="card-text">Type: <%= @device.device_type %></p>
    <p class="card-text">Manufacturer: <%= @device.manufacturer %></p>
    <p class="card-text">Max Flow: <%= @device.max_flow %></p>
    <p class="card-text">Max Pressure: <%= @device.max_pressure %></p>
  </div>
</div>

<h4 class="text-center">Tests on Device</h4>

<table class="table mt-2">
  <thead class="bg-secondary">
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Flow Rate</th>
      <th>Pressure</th>
      <th>Status</th>
      <th>Result</th>
      <th class="text-center" style="width: 20%">Actions</th>
    </tr>
  </thead>
  <tbody id="tests">
    <%= render @device.tests %>
  </tbody>
</table>

<%= turbo_frame_tag "new_test" do %>
  <div class="d-flex justify-content-center">
    <%= link_to 'Add Test', new_test_path(device_id: @device.id), class: "btn btn-primary" %>
  </div>
<% end %>

<%= turbo_frame_tag 'edit_test' %>
