This is index page

<% @users.each do |user| %>
  <p>Name: <%= user.email.split('@')[0] %></p>
  <p>Role: <%= user.role %></p>
  <p>Address: <%= user.address %></p>
  <p><%= link_to "View", user_path(user) %></p>
<% end %>

<% if user_signed_in? %>
  <% if current_user == true_user %>
    <%= button_to "sign Out", destroy_user_session_path, method: :delete %>
  <% end %>
  <div>
    <%= link_to "Add User", new_user_invitation_path, class: "btn btn-primary" %>
  </div>
<%end%>

<% if current_user != true_user %>
  You (<%= true_user.email %>) are signed in as <%= current_user.email %>
  <%= button_to "Back to admin", stop_impersonating_users_path, data: {turbo: false} %>
<% end %>
