<tr id="customer_<%= customer.id %>">
  <td><%= customer.id %></td>
  <td><%= customer.name %></td>
  <td><%= customer.phone %></td>
  <td><%= customer.address %></td>
  <td class="text-center" style="width: 20%">
    <%= link_to 'Show', customer, class: "btn btn-success" %>
    <%= link_to 'Edit', edit_customer_path(customer), data: { turbo_frame: 'edit_customer' }, class: "btn btn-info" %>
    <%= link_to 'Destroy', customer, data: { turbo_method: :delete }, class: "btn btn-danger" %>
  </td>
</tr>
