<div class="card">
  <div class="card-header text-center">
    <h3>Customer Info</h3>
  </div>
  <div class="card-body">
    <p class="card-text">ID: <%= @customer.id %></p>
    <p class="card-text">Name: <%= @customer.name %></p>
    <p class="card-text">Phone: <%= @customer.phone %></p>
    <p class="card-text">Address: <%= @customer.address %></p>
  </div>
</div>

<h4 class="text-center">Locations of <%= @customer.name %></h4>
<table class="table mt-2">
  <thead class="bg-secondary">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact Person</th>
      <th class="text-center" style="width: 20%">Actions</th>
    </tr>
  </thead>
  <tbody id="locations">
    <%= render @customer.locations %>
  </tbody>
</table>

<%= turbo_frame_tag "new_location" do%>
  <div class="d-flex justify-content-center">
    <%= link_to 'Add Location', new_location_path(customer_id: @customer.id), class: "btn btn-primary" %>
  </div>
<% end %>

<%= turbo_frame_tag "edit_location" %>
