<%= form_with(model: location, local: true) do |form| %>

  <%= turbo_frame_tag "all_errors" %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :contact_person %>
    <%= form.text_field :contact_person %>
  </div>

  <%= form.hidden_field :customer_id, value: location.customer_id %>
  
  <%= form.hidden_field :company_id, value: current_user.company_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
