<tr id="location_<%= location.id %>">
  <td><%= location.id %></td>
  <td><%= location.name %></td>
  <td><%= location.address %></td>
  <td><%= location.contact_person %></td> 
  <td class="text-center" style="width: 20%">
    <%= link_to "View", location, class: "btn btn-success" %>
    <%= link_to "Edit", edit_location_path(location.id), data: { turbo_frame: 'edit_location' }, class: "btn btn-info"  %>
    <%= link_to "Delete", location, data: { turbo_method: :delete }, class: "btn btn-danger"  %>
  </td>
</tr>
