<h3>Edit Location</h3>

<%= form_with(model: @location, local: true) do |form| %>

  <%= render 'shared/errors', object: @location %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Create Customer" %>
  </div>
<% end %>
