<%= link_to 'Back', customer_path(@location.customer) %>
<h3>Location Info</h3>

<p><%= @location.name %></p>

<%= link_to 'Edit', edit_location_path(@location) %>
<%= button_to 'Delete', location_path(@location), method: :delete %>

<h4>Devices on <%= @location.name %></h4>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="devices">
    <%= render @location.devices %>
  </tbody>
</table>

<%= turbo_frame_tag "new_device" do %>
  <%= link_to 'Add Device', new_device_path(location_id: @location.id) %>
<% end %>

<%= turbo_frame_tag 'edit_device' %>
